html, body {
    height:100%;
}

body{
  padding: 0px;
  margin: 0px;
}

/************
  COVER
*************/

.cover{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0px;
  z-index: 1;
}

/*
.cover img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 5;
}
*/

.cover .tinted{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
}

.cover .title{
  width: 100%;
  position: absolute;
  z-index: 7;
}

.decor{
  width: 100px !important;
}

.cover-section{
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
  top: 0px;
  z-index: 1;
}

/************
  MENU
*************/
.header{
  position: fixed;
  background: rgba(35, 35, 35, 0.95);
  /*background-image: url('./img/photos.bg');*/
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 80px;
  z-index: 10;
  top: 0px;
}

.logo{
  display: table;
  background: #b9812b;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 250px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px !important;
}

.logo-item{
  display: table-cell;
  vertical-align: middle;
  width: 50%
}

.logo-item img{
  height: 40px;
}

.menu{
  display: table;
  position: absolute;
  right: 40px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  font-weight: 300;
}

.menu ul{
  padding: 0px;
  margin-top: 0px;
}

.menu li{
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

.menu a:link{
  text-decoration: none;
  color: #fff;
}

.menu a:visited{
  color: #fff;
}

.m-item{
  display: table-cell;
  color: #b9812b;
  font-size: 18px;
  vertical-align: middle;
  padding: 0px 15px 0px 15px;
}

.m-item:hover{
  background: #b9812b;
  color: white;
}

/************
  ROWS
*************/

.row{
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  overflow-x: hidden;
}

/************
  CELLS
*************/

.cell{
  display: inline-block;
  vertical-align: top;
}

/************
  SPACES
*************/

.pad-10{
  padding: 10px;
}

.pad-30{
  padding: 30px;
}

.pad-50{
  padding: 50px;
}

.mar-10{
  margin: 10px;
}

.mar-30{
  margin: 30px;
}

.mar-50{
  margin: 50px;
}

/************
  SHAPES
*************/

#parallelogram {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
}

/************
  MOSAIQ
*************/

.mosaiq{
  position: relative;
  display: table;
  width: 100%;
  background: whitesmoke;
}

.tide{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 30%;
  height: 190px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.tide-content{
  font-size: 16px;
}
